.sidebar {
    width: 200px;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: white;
}

.sidebar a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.sidebar a:hover {
    color: red;
}